<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.kgbier.util.networklogger">

    <application>
        <activity
            android:name=".view.NetworkLogActivity"
            android:label="Logs"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".view.NetworkLogEventActivity"
            android:label="Event"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
    </application>

</manifest>